

@{
    ViewBag.Title = "Register";
}

<h2>Regjistrohu</h2>

@using (Html.BeginForm())
{
    <div>
        <label for="Username">Emri i Përdoruesit:</label>
        <input type="text" name="Username" />
    </div>

    <div>
        <label for="Password">Fjalëkalimi:</label>
        <input type="password" name="Password" />
    </div>

    <div>
        <label for="Role">Roli:</label>
        <select name="Role">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
    </div>

    <button type="submit">Regjistrohu</button>
}

@if (ViewBag.Error != null)
{
    <div style="color:red;">
        @ViewBag.Error
    </div>
}
